* {
  padding: 0;
  margin: 0;
  font-family: 'Kaushan Script', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('images/headerBcg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

span {
  color: #ef7998;
}

nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

nav ul {
  width: 20%;
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
}

section#landing {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 228, 148, 0.5);
}

section#landing header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#landing h1 {
  color: #fff;
}

section#landing button {
  padding: 10px;
  border: 2px solid #000;
  background-color: transparent;
  text-transform: uppercase;
}

section#about {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  background-color: #fff;
}

section#about div#text,
section#about div#pic {
  width: 50%;
}

section#about figure {
  width: 540px;
  height: 405px;
  border: 5px solid rgb(241, 228, 148);
  margin-top: 5%;
}

section#about img {
  width: auto;
  height: 100%;
}

section#store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eeeeee;
}

section#store section#articles {
  display: flex;
  justify-content: center;
}

section#store section#head {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section#store div#sort {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

section#store div#sort button {
  padding: 10px;
  border: 1px solid #000;
}

section#store div#sort button:hover {
  background-color: #000;
  color: #ef7998;
  cursor: pointer;
}

section#store div#search {
  width: 50%;
  display: flex;
  justify-content: center;
}

section#store div#search input {
  width: 500px;
  border: 1px solid #ced4da;
}

section#store div#search button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ef7998;
}

section#store section#articles {
  width: 100%;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  /* grid-template-rows: 335px 335px 335px 335px; */
  gap: 35px 35px;
}

section#store section#articles img {
  max-width: 100%;
  max-height: auto;
}

section#store section#articles figcaption {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

section#store section#articles span {
  color: #000;
}
